header#cabecalho {

	margin-top: 100vh;
	
}

.side-nav {
	background-color: black;
}


.fraseDeApresentacao {

	font-family: Cooper Std Black ,Stencil Std, serif;
	font-size: 8vh;

}

.parallax {
	background-image: url("../img/teclado.jpeg");

	/* Set a specific height */
    /* height: 500px; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0;
}

.progress {
	height: 15px;
}

.texto-parallax {
	font-family: Arial Brack;
	font-size: 20px;
}

p {
	font-family: Arial, sans-serif;
	font-size: 18px;
}